doctype html
html
   head
      title SRR
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width,initial-scale=1.0')
      link(rel='icon' href='favicon.png')
      link(rel='stylesheet' href='styles.sass')
      base(target='_blank')

   body
      .srr-container
         .srr-header
            .srr-in
               a.srr-link
                  .srr-title
            .srr-info
               .srr-dropdown
                  button.dropbtn.srr-website
                  #srr-website-dd.dropdown-content
                  img.anchor
               .srr-published
         .srr-content
         .srr-ctrl
            .srr-ctrl-left.srr-dropdown.hidden
               button.dropbtn.srr-ext-text
               #srr-ext-dd.dropdown-content

            .srr-ctrl-right
               button.srr-left(disabled)
                  .srr-left-icon
               button.srr-right(disabled)
                  .srr-right-icon

      script(type='text/javascript').
         DB_URL = new URL("#{process.env.SRR_CDN_URL}", window.location)
         DB = fetch(new URL("db.json", DB_URL))

      script(src='js/app.ts', type="module")
